ALLOWED_ORIGIN=https://your-wordpress-site.com,http://127.0.0.1:8000
MAX_CONCURRENT_DOWNLOADS=2
MAX_FILE_SIZE_MB=2048
COOKIES_FROM_BROWSER=chrome
# COOKIES_FILE=C:\path\to\cookies.txt

# Secret key to secure your API from unauthorized access (e.g. your_secret_token_12345)
API_SECRET_KEY=my_secure_secret_token_987654321
